/* ------------- css for specific modules ------------- */

/* ------------- Superfish menu	------------- */
.sf-menu.sf-horizontal.sf-shadow ul {
	background: none;
	padding: 0 !important;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 1px #ccc solid;
	background-color: #fff;
	box-shadow: 5px 5px 6px 0px #666;
}
.sf-menu.sf-style-default {
	float: left;
	margin-bottom: 0;
	padding: 0;
}
.sf-menu.sf-style-default.sf-navbar {
	width: 100%;
}
.sf-menu.sf-style-default ul {
	padding-left: 0;
}
.sf-menu.sf-style-default a {
	border: 0px;
	border-left: 0px;
	padding: 0.75em 1em;
}
.sf-menu.sf-style-default a,
.sf-menu.sf-style-default a:visited	{
	text-decoration: none;
	color: #222;
}
.sf-menu.sf-style-default a.sf-with-ul {
	padding-right: 2.25em;
}
.sf-menu.sf-style-default.rtl a.sf-with-ul {
	padding-left: 2.25em;
	padding-right: 1em;
}
.sf-menu.sf-style-default span.sf-description {
	color: #222;
	display: block;
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 5px 0 0 5px;
	padding: 0;
}
.sf-menu.sf-style-default li,
.sf-menu.sf-style-default.sf-navbar {
	background: transparent;
}
.sf-menu.sf-style-default li li {
	background: #fff;
}
.sf-menu.sf-style-default li li li {
	background: #fff;
}
.sf-menu.sf-style-default li:hover,
.sf-menu.sf-style-default li.sfHover,
.sf-menu.sf-style-default a:focus,
.sf-menu.sf-style-default a:hover,
.sf-menu.sf-style-default a:active {
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #ddd));
	background: -moz-linear-gradient(top center, #eee 0%, #ddd 100%);
	outline: 0;
}
.sf-sub-indicator {
	background: url('../images/arrows-777777.png') no-repeat -10px -100px;
}
.sf-menu.rtl .sf-sub-indicator {
	background: url('../images/arrows-777777-rtl.png') no-repeat -10px -100px;
}


/* ------------- CK Editor ------------- */

a.ckeditor_links {
	display: none;
}


/* ------------- Flags ------------- */
.flag-wrapper a {
}

/* ------------- Tag Tree ------------- */
.view-tag-tree .view-content div ul li {
	margin-left: 30px;
	list-style-type: square;
}
.view-tag-tree .view-content {
	margin-top: 30px;
}