@import "settings";
@import "modules";

/* ------------- Basics	------------- */
html {
	overflow-y: scroll;
	font-size: 13px;
	line-height: 13px;
}
body{
	margin: 0;
	padding: 0;
	background-image: url(../images/bg-wall.png);
	@include font-body;
}
p {
	@include font-body;	
}
.field-name-body, .field-name-body p, .textblock {
	@include font-paragraph;
}

a {
	color: $body-font-color;
	text-decoration: underline;
	&:link, &:visited {
		text-decoration: underline;
	}
	&:hover {
		color: $grey-medium;
		text-decoration: none;
	}
	&:focus, &:active {
		color: $black;
		text-decoration: underline;
		top: 2px;
	}
}
li {
	margin: 4px 0;
}
li a.active {
	color: $body-font-color;
}

pre, code {
	font-family: consolas, courier, monospace;
	font-size: 1em;
	line-height: 1.2em;
	white-space: pre;
	background-color: #ccf;
	color: $black;
	border: 1px solid $grey-medium;
	padding: 4px 6px;
	margin: 4px 0;
	float: right;
}
/* ------------- Lists	------------- */
ol {
	list-style: decimal;
}
ul {
	list-style: square;
	margin-bottom: 10px;
}
ul.menu {
	margin-bottom: 0;
}
ul ul,
ol ol {
	padding-top: 0.5em;
}
.node ol,
.node ul {
	padding-left: 30px;
}
.node ul.inline,
.node ol.inline {
	padding-left: 0;
}
ul li.leaf{
	list-style-type: none;
	list-style-image: none;
}
.item-list ul li {
	margin: 0;
	padding: 0;
}
ul.view-block-dashboard {
	padding-left: 20px;
	list-style-type: square;
	margin-bottom: 0px;
}
ol.view-block-dashboard-ordered {
	padding-left: 20px;
	list-style-type: decimal;
	margin-bottom: 0px;
}
/* ------------- Headings	------------- */
h1{
	@include font-header(2.5em);
	margin: 0 0 20px 0;	
	font-weight: normal;
}
h2{
	@include font-header(1.4em);
	margin: 25px 0 5px 0;
	border-bottom: 1px solid $grey-light;
	padding: 4px 0;
	font-weight: bold;
}
h3, h4, h5, h6{
	@include font-header(1.2em);
	margin: 25px 0 5px 0;
	border-bottom: 1px solid $grey-light;
	padding: 4px 0;
	font-weight: bold;
}
.site-slogan{
	float: left;
	@include font-body;	 
	color: $grey-medium;
	margin: 0;
	border: 0;
}
.site-name {
	float: left;
	@include font-body;
	font-size: 13px;	
	margin: 0 10px 0 0;
	border: 0;
}
.site-name a,
.site-name a:active,
.site-name a:hover,
.site-name a:focus,
.site-name a:visited	{
	text-decoration: none;
	color: $header-font-color;
	border: 0;
}
/* ------------- wireframe	------------- */
.zone-branding {
	margin-bottom: 5px;
	padding-top: 5px;
	border-top: 1px $grey-light solid;
	margin-top: 25px;
}
.zone-header {
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px $grey-light solid;
	margin-bottom: 15px;
}
/* ------------- Menu	------------- */
.block-user-menu, .block-superfish {
	float: left;
	display: inline;
	margin-right: 20px;
}
.block-user-menu ul li{
	float: left;
	list-style-type: none;
	list-style-image: none;
}
.block-search-form {
	float: left;
	padding-top: 5px;
}
form#search-block-form div div div .form-submit{
	display: none;
}
form#search-block-form div div div .form-text{
	width: 180%;
}
.branding-data {
	float: left;
}
/* ------------- comments	------------- */
.comment {
	margin: 10px;
	border: 1px $grey-light solid;
	padding: 5px 10px;
}
.pane-node-comment-form{
	margin: 0;
	border: 0;
	padding: 0;
}
#edit-author--2 {
	display: none;
}
/* ------------- Taxonomy terms	------------- */
.field-type-taxonomy-term-reference	.field-items, 
.field-type-taxonomy-term-reference div.field-label,
.field-type-taxonomy-term-reference div .field-item{
	display: block;
}
.field-type-taxonomy-term-reference div .field-item a{
	background: $grey-light;
	color: $grey-dark;
	padding: 4px;
	margin: 0;
	text-decoration: none;
	border:0;
	line-height: 2.5;
}
.field-type-taxonomy-term-reference div .field-item a:hover{
	background: $grey-medium;
	text-decoration: none;
	color: $white;
	@include fade-bg;
}
.hierarchical-select-item-separator {
	background: $grey-light;
	line-height: 2;
	padding: 4px;
}
/* ------------- Field view	------------- */
.field .field-label {
	font-weight: normal;
}
.field-name-body,
.field-name-field-tags,
.field-name-field-links,
.field-name-field-rating,
.field-type-taxonomy-term-reference {
	padding-bottom: 15px;
}
.field-items, 
.field-label,
.field-item{
	display: inline;
	font-weight: normal;
}
th.field-label {
	display: table-cell;
}
.field-name-field-links div .field-item a{
	margin: 0 4px;
}
.field-name-field-rating div .field-item{
	font-weight: bold;
	padding: 4px 10px;
	color: $white;
	background-color: $grey-dark;
	margin-left: 10px;
}
/* ------------- varia	------------- */
.more-link {
	text-align: left;
}
.section-header {
	margin-top: 0;
}
.view-recently-added-knowledge,
.view-recently-updated-knowledge {
	color: $grey-dark;
}
.metablock div p {
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: $grey-medium;
	line-height: 1.6;
	font-family: $body-font-family;
}
.nowrap {
	display: inline;
}
.filter-guidelines, .filter-help {
	display: none;
}
.filter-wrapper {
	padding: 0;
}
.form-item-current-entity {
	display: none;
}
.collapsed{
	margin-bottom: 5px;
}
.form-required {
	color:$grey-dark;
}
.tabledrag-handle {
	border:0;
}

/* ------------- Text Selection Color	------------- */
::selection {
	background: #FAEB96; 
	}
::-moz-selection {
	background: #FAEB96;
}
/* ------------- messages ------------- */
div.status, .ok {
}

/* ------------- Tabs ------------- */
ul.primary {
	border: 0;
	margin: 0;
	padding: 0;

}
ul.primary li a, ul.primary li a:link, ul.primary li a:visited {
	@include button-tabs;
}

ul.primary li{
	display: block;
	float: left;
}
/* ------------- Panel tabs ------------- */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .ui-widget{
	font-family: 'Open Sans', Arial,sans-serif;
}
.ui-tabs {
	border: 0px;
}
.ui-tabs .ui-tabs-panel {
	border: 0px;
	padding: 10px 0 0 0;
}
ul.ui-tabs-nav {
	background-color: transparent;
	background-image: none;
	border: 0px;
	border-bottom: 1px $grey-light solid;
	border-radius: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border-color: $grey-light;
	border-radius: 0;
	padding: 3px;
	background-color: $white;
}
.ui-state-default a, .ui-widget-content .ui-state-default a, .ui-widget-header .ui-state-default a{
	color: $grey-dark;
}
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background-color: $grey-light;
}
.ui-tabs .ui-tabs-nav li a {
	padding: 4px 10px;
}

/* ------------- Buttons	------------- */
input,
button,
select,
textarea {
	margin: 0;
	vertical-align: middle;
	font-family: $body-font-family;
	font-size: $body-font-size;
}
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
#edit-cancel:focus, #edit-cancel{
	@include font-body;
	@include button;
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	border-radius: 0;
	outline: 0;
	overflow: visible;
	width: auto;
	text-shadow: none;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	position:relative;
	top:1px;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background-color: $white;
	border: 1px solid;
	border-color: $grey-medium;
	color: $grey-dark;
	outline: 0;
	padding: 2px 12px 2px 2px;
	font-size: 13px;
	height: 1.8em;
	*padding-top: 2px; /* IE7 */
	*padding-bottom: 1px; /* IE7 */
	*height: auto; /* IE7 */
}
#edit-keys {
	width: 40%;
}
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
	-moz-box-shadow: $grey-medium 0 0 7px;
	-webkit-box-shadow: $grey-medium 0 0 7px;
	box-shadow: $grey-medium 0 0 7px;
	z-index: 1; /* For Opera */
}
input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-item, .form-actions {
	margin-top:0;
}
/* ------------- Table	------------- */
table {
	border: 1px solid $grey-light;
	width: 100%;
	margin-top:5px;
}
thead th, th {
	background: $grey-bright;
	border-bottom: 1px solid $grey-light;
	color: $grey-dark;
}
td, th {
	padding: 4px;
	vertical-align: middle;
}
th a, th a:link, th a:visited {
	text-decoration: none;
	border:0;
	display: block;
}
th a img {
	margin: 0 0 3px 5px;
}
th.active a {
	font-style: italic;
}
tr.even td, tr.even td.active {
	background: #f7f7f7;
}
tr.odd td, tr.odd td.active {
	background: $white;
}
td.active {
}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
	background: #eee;
}
td ul.links {
	margin-bottom: 0;
}
