@import "settings";
@import "icons";
@import "foundation/components/global";
@import "foundation/components/grid";

/* ------- Body --------- */
body {
	font-size: 16px;
	line-height: 1.6;
	color:$body-font-color;
}
p {
	font-size: 16px;
	line-height: 1.6;
	color:$body-font-color;
	margin: 10px 0;
}
strong {

}
.slogan {
	font-weight: $font-weight-light;
	display: block;
	font-size: 16px;
	letter-spacing: 0;

}

/* ------- Headers --------- */
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $body-font-weight;
  font-style: normal;
  color: $header-font-color;
  line-height: 1.2;
}
h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 48px; 
	padding-bottom: 10px;
  	font-weight: 600;
	letter-spacing: 1px;
}
h1 a, h1 a:hover, h1 a:focus {
  	text-decoration: none;	
	color: $header-font-color;
}
h2 {
	font-size: 32px;
	margin: 60px 0 0 0;
	letter-spacing: 1px;
}
h3 {
	font-weight: $header-font-weight;
	font-size: 18px;
	margin: 20px 0 5px 0;
	border-bottom: 1px solid #B0BEC5;
	padding: 4px 0;
}
h4 {
	font-size: 40px;
	margin: 60px 0 0 0;
}
/* ------- links --------- */
a {
	color: $body-font-color;
	text-decoration: underline;
}
a:hover, a:focus {
	color: #263238;
    text-decoration: none;
}
/* ------- Button --------- */
.button {
	border: 0;
	cursor: pointer;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	padding: 2px 10px;
	background-color: #455A64;
	color: white;
	line-height: 40px;
	width: 100%;
	display: block;
	border-radius: 2px;
}
.button:hover, .button:focus {
  background-color: #546E7A;
    color: white;
  -webkit-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

/* ------- Lists --------- */
ul  {
	list-style-position: outside;
	list-style-type: square;
	padding: 0;
	margin: 0;
}
ul li {
/*	border-top: 1px solid #ddd; */
	padding: 4px 0;
	margin-left: 18px;
}
ul li ul {
  margin-left: 1.28571em;
  margin-bottom: 0;
  font-size: 1em;
}

/* ------- footer --------- */
.footer {
	border-top: 1px solid #B0BEC5;
	margin-top: 40px;
}

/* ------- Panels --------- */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #CFD8DC; 
}

/* ------- Navigation --------- */
nav {
	line-height: 1;
	margin: 0;
	padding: 0;
}
nav a {
	padding-right: 15px;
}


@import "foundation/components/orbit";
