/* Settings for global.css */

/* ------- Body --------- */
$body-font-family: 'Open Sans', Arial, sans-serif;
$body-font-size: 13px;
$body-line-height: 1.6em;
$body-font-weight: normal;
$body-font-style: normal;
$body-font-color: #444;
/* ------- Headers --------- */
$header-font-family: 'Open Sans', Arial, serif;
$header-font-weight: normal;
$header-font-style: normal;
$header-line-height: 1.4em;
$header-font-color: #222;

/* ------- Colors --------- */
$black: #000;
$grey-dark: #444;
$grey-medium: #999;
$grey-light: #ccc;
$grey-bright: #ddd;
$white: #fff;

$color-alert: red;
$color-confirm: green;

/* ------- mixins --------- */
@mixin fade-bg {
	-webkit-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

@mixin font-body {
	font-family: $body-font-family;
	font-size: 1em;
	line-height: 1.4em;
	color: #444;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 0.5em;
}
@mixin font-paragraph {
	font-family: $header-font-family;
	font-size: 1.05em;
	line-height: 1.6em;
	color: #222;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 1em;
}
@mixin font-header($size) {
	font-family: $header-font-family;
	font-size: $size;
	line-height: 1.2em;
	color: #222;
	font-style: normal;
	letter-spacing: normal;

}

@mixin button-tabs {
	color:$white;
	background: $grey-medium;
	text-decoration:none;
	border: 0;
	padding: 6px 12px;
	margin: 1px;
	line-height: 30px;
	&:hover{
		background: darken($grey-medium, 20%);
		@include fade-bg;
	}
}
@mixin button {
	color:$white;
	background: $grey-medium;
	text-decoration:none;
	border: 0;
	padding: 6px 12px;
	margin: 1px;
	&:hover{
		background: darken($grey-medium, 20%);
		@include fade-bg;
	}
}
